body{
   margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(232, 232, 232);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

.btn-sec{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
}

.btn-sec:hover{
    border: 1px solid grey;
    border-radius: 10px;
}

.btn:hover{
    scale: 1.05;
    background-color: rgb(29, 29, 29);
}

.drop-down-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu > *{
    margin: 0px 5px 10px 5px;
    background-color: rgb(250, 137, 0);
    border: 1px solid rgb(250, 137, 0);
}

.drop-down-menu > *:hover{
    background-color: rgb(227, 125, 2);
}

.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-in.show {
    opacity: 1;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.row > *{
    margin: 0 10px;
}
